/*Start Main Settings*/
*
{
    padding: 0;
    margin: 0;
}
/*End Main Settings*/

/*Start Body*/
body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(250, 248, 248) url(../img/wallpaper/fundo.png) left top repeat-x;
}
/*End Body*/

/*Start Main Content*/
.MainContent
{
    width: 800px;
    margin: 0 auto;
}
/*End Main Content*/

/*Start Logo and Navigation Bar*/
.Navigation_Bar
{
    height: 160px;
    padding: 17px;
    background: url(../img/wallpaper/mapa.png) no-repeat right top;
}
/*Start Logo*/
.log
{
    height: 66px;
    width: 152px;
    background: url(../img/wallpaper/logo.png) no-repeat center;
    text-indent: -4000px;
}
/*End Logo*/

/*Start Navigation*/
ul
{
    
	margin: 0;
	padding:0;
	list-style: none;
}
.Navigation_Bar ul
{
    margin-top: 15px;
    background: rgba(168, 171, 173, 0.411);
    float: left;
}

.Navigation_Bar ul li
{
    float: left;
}

.Navigation_Bar ul a
{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(../img/wallpaper/divisor.png)no-repeat left center;
}

.Navigation_Bar ul .first a
{
    background: none;
}

.Navigation_Bar ul a:hover
{
    background-color: rgba(255, 255, 255, 0.445);
}
/*End Navigation*/

/*Start Menu*/
body.home #navigation a#home,
body.brasil #navigation a#brasil,
body.internacional #navigation a#internacional,
body.economia #navigation a#economia,
body.saude #navigation a#saude,
body.ciencia #navigation a#ciencia,
body.fotos #navigation a#fotos
{
    color: #fff;
	background: #afadad;
	cursor: text;
}
/*End Menu*/
/*End Logo and Navigation Bar*/
/*Start Page content*/
#Page_content
{
    margin-top: 50px;
    background: #b9c5b3bb;
}
#Primary
{
    width: 300px;
    float: left;
}
#Secondary
{
    width: 300px;
    float: left;
}
#Side
{
    width: 200px;
    float: left;
}
/*Start Configure three-column layout*/
#Content
{
    margin-top: 35px;
    background: rgba(255, 255, 255, 0.445);
}
#Side
{
    width:180px;
    float: left;
    margin: 0 0 20px -750px;
}
#Primary
{
    width:270px;
    float: left;
    margin: 0 0 20px 195px;
}
#Two-columns #Primary
{
    width:555px;
}
#One-columns #Primary
{
    width:750px;
    margin: 0 0 20px 0;
}
#Secondary
{
    width:270px;
    float: left;
    margin: 0 0 20px 15px;
}
#Baseboard
{
    clear: both;
    background: #000000;
    padding: 10px;
}
#baseboard
{
    width: 750px;
    margin: 0 auto;
    color: white;
    text-align: center;
}
/*End Configure three-column layout*/
/*Box*/
.Box
{
   margin: 10px 0;
   padding: 5px;
    background: #f3f3f3 url(../img/wallpaper/box.jpg);
}
h2
{
    font-size: 1em;
    background: rgb(213, 223, 223);
    color: black;
    padding: 15px;
}
.Box-content
{
    background: #fff;
    padding: 50px;
    margin-top: 5px;
}
/*Start Side menu formatting*/
#Side ul li a
{
    font-size: 0.9em;
    padding: 3px;
    display:block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}
/*End Side menu formatting*/